::-webkit-scrollbar{width:12px;height:1px;border-radius:2px}
::-webkit-scrollbar-track{background-color:#1f2024;border-radius:2px}
::-webkit-scrollbar-thumb{border-radius:2px;background-color:#0f1012;transition:all 400ms ease-in-out}
::-webkit-scrollbar-thumb:hover{background-color:#8a6d97}