.warn {
padding-top:8pt;
padding-bottom:8pt;
padding-left:15pt;
padding-right:20pt;
color:#e7e8e9;
border-radius:8px;
border:3px solid #0f1012;
text-align:left;
}
.warn:before { 
font-size: 14pt;
font-weight: 1000;
}
.warn:before {
content: "Note ";
color:#8a6d97;
}
.warn .isi {
color:#e7e8e9;
text-align:left;
font-size: 12pt;
}
